@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    font-family: Montserrat, sans-serif;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.nav-links{ 
    margin-top: 0;
    display: flex;
    gap: 1rem;
    justify-content: start;
    box-shadow: 0px 2px 10px lightgray;
    padding: 1rem;
}

.nav-start-section{
    align-items: center;
    display: flex;
    width: 10vw;
    justify-content: start;
    margin-left: 2rem;
}

.nav-mid-section{
    display: flex;
    width: 50vw;
    gap: 2rem;
    align-items: center;
    justify-content: start;
    margin-left: 0.5rem;
}

.nav-end-section{
    display: flex;
    gap: 2rem;
    width: 37vw;
    align-items: center;
    justify-content: end;
}

.btn-login{
    border: none;
    padding: 0.3rem;
    width: 5em;
    background-color: black;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.15s ease-in-out;
    font-family: Montserrat, sans-serif;
}

.btn-login:hover{
    background-color: white;
    color: black;
}

.burger-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 1.5rem;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .nav-start-section {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
    }

    .nav-mid-section,
    .nav-end-section {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        display: none;
        gap: 1rem;
        margin-left: 0;
        padding-top: 1rem;
    }

    .nav-mid-section.open,
    .nav-end-section.open {
        display: flex;
    }

    .burger-icon {
        display: block;
    }

    .btn-login {
        width: 100%;
    }
}
