@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f6;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}


.upload-card {
  background-color: white;
  padding: 3.5rem;
  width: 25%;
  border-radius: 1rem;
}

.upload-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.upload-message {
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.upload-message.success {
  color: #28a745;
}

.upload-message.error {
  color: #dc3545;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.upload-input, .upload-textarea, .upload-select, .upload-file {
  padding: 10px 14px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
}

.upload-input.disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.upload-textarea {
  resize: vertical;
}

.upload-select {
  background: #fff;
}

.upload-button {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  /* transition: background 0.3s; */
  font-family: 'Montserrat';
}

.upload-button:hover {
  background-color: #333333;
}
